*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 105px 0px 105px;
    gap: 10px;
    width: 1434px;
    height: 108px;
    background: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    
}
#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: black;

    
}
#navbar li a:hover{
    color: #196e3c;
}
.photos{
    display: flex;
    justify-content: space-between;
}

.photos li{
    border: 3px solid #1eb642;
    border-radius: 10px;
    width: 400px;
    list-style: none;
    height: 600px;
}

.photos li img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}