*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 105px 0px 105px;
    gap: 10px;
    width: 1434px;
    height: 108px;
    background: #FFFFFF;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
#navbar li{
    list-style: none;
    padding: 0 20px;
    
}
#navbar li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: black;

    
}
#navbar li a:hover{
    color: #196e3c;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.first{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.first img{
    width: 300px;
    height: 300px;
    border: 0.5px solid #196e3c;
    margin-bottom: 50px;

}
.first-script{
    width: 300px;
    margin-left: 150px;
}
h3{
    font-size: 24px;
    font-weight: 400;
    color: black;
}
h2{
    font-size: 18px;
    font-weight: 300;
}
.second{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 50px;
}
.second img{
    width: 300px;
    height: 300px;
}
.second-script{
    width: 300px;
    margin-left: 150px;
}
.third{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.third img{
    width: 300px;
    height: 300px;
}
.third-script{
    width: 300px;
    margin-left: 150px;
}
.works{
    margin-top: 50px;
    margin-bottom: 50px;
}
.works h1{
    font-size: 36px;
    font-weight: 600;
    color: #196e3c;
}
